/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v9/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--SjxbI.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Fredericka the Great', cursive;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-end;
  margin: 2% 0;
}
nav a {
  text-decoration: none;
  margin: 0 2%;
}
nav a:hover {
  color: red;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e3e3e3;
  flex-direction: column;
  padding: 5% 3%;
}
.header div {
  padding: 2% 1%;
}
.header div img {
  width: 60%;
}
.header .header-top {
  border-bottom: 1px solid grey;
}
.header h1 {
  margin-top: 0.5%;
  font-size: 3rem;
}
.header p {
  font-size: 1.5rem;
}
.header button {
  padding: 1% 2%;
  margin-top: 1.5%;
  border-radius: 0.5rem;
}
.header button a {
  text-decoration: none;
  font-size: 1.3rem;
}
.header button:hover {
  background-color: #e3e3e3;
}
@media (max-width: 500px) {
  .header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header div img {
    width: 80%;
  }
  .header div h1 {
    margin-top: 2%;
  }
  .header div p {
    padding: 3%;
    width: 100%;
  }
}
#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about div {
  width: 44%;
  margin: 3%;
}
#about h2 {
  font-size: 2rem;
  margin: 2% 0;
}
#about img {
  max-height: 100%;
}
@media (max-width: 500px) {
  #about div {
    width: 70%;
    margin-top: 4%;
  }
  #about h2 {
    margin: 0;
  }
}
.skills table,
.skills tr,
.skills td {
  border: 1px solid lightgrey;
  width: 100%;
  padding: 3%;
  text-align: left;
}
.skills table img,
.skills tr img,
.skills td img {
  width: 30%;
}
@media (max-width: 500px) {
  .skills table img {
    height: 10%;
  }
}
.work-history h2 {
  font-size: 2rem;
}
.work-history div {
  margin: 0 3%;
}
.work-history table {
  border: 1px solid lightgrey;
  width: 100%;
  padding: 3%;
  text-align: left;
  border-left: 0;
  border-right: 0;
}
.work-history table tr:nth-child(even) {
  background-color: #e3e3e3;
}
.work-history table th,
.work-history table td {
  padding: 1%;
}
@media (max-width: 500px) {
  .work-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .work-history div {
    width: 70%;
  }
}
#contact div {
  margin: 3%;
  color: #4353e6;
}
@media (max-width: 500px) {
  #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #contact div {
    width: 50%;
    text-align: center;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
  background-color: #e3e3e3;
}
